{#def title = "QCrBox Data Files", data_files = [] #}

<MainLayout title={{ title }}>
  <div class="box">
    <ApplicationsList />
    <DataFilesList data_files={{ data_files }} />
    <DataFileUploadForm />
  </div>
</MainLayout>
