{#def data_files = [] #}

<div id="data_files_list" class="content">
  {% if data_files %}
    <ul>
    {% for data_file in data_files %}
      <li>{{ data_file.filename }}</li>
    {% endfor %}
    </ul>
  {% else %}
    No data files found.
  {% endif %}
</div>
