{#def title = "QCrBox" #}

<HTMLPage title={{ title }}>
  <section class="section">
    <div class="container">
      <Header title={{ title }} />
    </div>

    <button class="button" hx-post="/test1" hx-target="#test1" type="button">
      HTMX example
    </button>
    <div id="test1" class="mt-2 mb-2"></div>

  </section>
</HTMLPage>
