# IDE
.idea/
.vscode/

# Misc
.ackrc

# Python
.venv/
venv/
env/
**/__pycache__
/playground/
.coverage
.ipynb_checkpoints

# Javascript
node_modules

# Build artifacts
.build/**

# doit database
.doit.db

# qcrbox Python package
qcrbox/dist/
qcrbox/qcrbox/_version.py
services/base_images/base_ancestor/qcrbox_dist/qcrbox-*.whl
