# IDE
.idea/
.vscode/

# Misc
.ackrc

# Python
.venv/
venv*/
env/
**/__pycache__
/playground/
.coverage
.ipynb_checkpoints

# Javascript
node_modules

# Build artifacts
.build/**

# Folder for files shared with/between containers
shared_files/**

# doit database
.doit.db

# qcrbox Python package
qcrbox/dist/
qcrbox/qcrbox/_version.py
services/base_images/base_ancestor/qcrbox_dist/qcrbox-*.whl
services/base_images/base_ancestor/qcrbox_dist/requirements*.txt

#qcrbox_wrapper Python package
qcrbox_wrapper/qcrbox_wrapper/_version.py

# qcrboxtools Python package
services/base_images/base_ancestor/qcrbox_dist/qcrboxtools-*.whl

# ShelX
services/applications/shelx/shelx_executables/2018_shelxl
services/applications/shelx/shelx_executables/anode
services/applications/shelx/shelx_executables/ciftab
services/applications/shelx/shelx_executables/pdb2ins
services/applications/shelx/shelx_executables/pdb2insGUI
services/applications/shelx/shelx_executables/shelxc
services/applications/shelx/shelx_executables/shelxd
services/applications/shelx/shelx_executables/shelxe
services/applications/shelx/shelx_executables/shelxl
services/applications/shelx/shelx_executables/shelxs
services/applications/shelx/shelx_executables/shelxt
services/applications/shelx/shelx_executables/shredcif

# qcrboxtools
services/applications/qcrboxtools/qcrboxtools_dist/qcrboxtools-0.0.2-py3-none-any.whl

# CrystalExplorer
services/applications/crystal_explorer/CrystalExplorer-21.5-ubuntu-20.04.deb

# CrysalisPro
services/applications/crysalis-pro/CrysAlisPro*.exe

# CrysalisPro Examples
docs/tutorials/examples/input_files/Ylid_Mo_RT.zip

# Olex2
services/applications/olex2_linux/olex2_files/olex2c-linux64
services/applications/olex2_linux/olex2_files/olex2-linux64_hl.zip

#Eval14/15
services/applications/eval1x/EVPY-Linux-x86_64-20231113-bullseye.tar.gz

#Eval Examples
docs/tutorials/examples/input_files/Ylid_OD_Images.zip
docs/tutorials/examples/input_files/eval_input.zip

#XHARPy
services/applications/xharpy_gpaw/XHARPy

#MoProSuite
services/applications/mopro/MoProSuite_*.zip
services/applications/mopro/Import2MoPro*.zip
