# For details about the settings in this file see: https://git-scm.com/docs/gitattributes

# Normalise line endings - always use Unix-style line endings for text files when the file is checked out.
* text=auto eol=lf
