<div class="content">
  <form
     hx-encoding="multipart/form-data"
     hx-post="/data_files/upload"
     hx-target="#data_files_list"
     hx-swap="afterbegin"
     _="on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100"
  >
      <input type="file" name="file">
      <button class="button is-outline is-small">
          Upload
      </button>
      <progress id="progress" value="0" max="100"></progress>
  </form>
</div>
